.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  input {
    height: 35px;
    width: 620px;
    border-radius: 0;
    border: 1px solid #6b6a6a;
    padding-left: 10px;
  }

  button {
    color: #ffffff;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    margin-top: 14px;

    font-size: 16px;

    cursor: pointer;
    margin-left: 25px;
  }
}

.tableContainer {
  margin-top: 60px;
  width: 800px;
}

.titles {
  display: flex;
  justify-content: space-around;
  border: 1px solid #6b6a6a;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  border: 1px solid #6b6a6a;
  margin-top: 6px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
  }
}
.rowSelected {
  background-color: red;
}

.row {
  display: flex;
  justify-content: space-around;
  border: 1px solid #6b6a6a;
  margin-top: 6px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
  }
}
.rowSelected {
  background-color: red;
}

.tableName {
  background-color: #00bfff;
  color: #ffffff;
  border-radius: 5px;

  font-size: 18px;

  display: inline-block;

  padding: 10px 15px;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: 30px;
}
