<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <input
      placeholder="desired detail..."
      formControlName="detail"
      type="text" />

    <button>Search</button>
  </form>

  <div class="tableContainer">
    <span class="tableName" *ngIf="details.length">Результати пошуку</span>
    <p *ngIf="detailsLoading" class="text-center text-lg">Loading...</p>
    <div *ngIf="details.length" class="titles">
      <span>Артикул</span>
      <span>Найменування</span>
      <span>Ціна</span>
    </div>
    <div
      *ngFor="let detail of details"
      class="row"
      [ngClass]="{ rowSelected: desiredAnalogId === detail.id }"
      (click)="changeDetail(detail.id)">
      <span>{{ detail.article }}</span>
      <span>{{ detail.title }}</span>
      <span>{{ detail.yourPriceUAH.amount }}</span>
    </div>

    <span class="tableName" *ngIf="analogues.length">Аналоги</span>
    <p *ngIf="analoguesLoading" class="text-center text-lg">Loading...</p>
    <div *ngIf="analogues.length" class="titles">
      <span>Артикул</span>
      <span>Найменування</span>
      <span>Ціна</span>
    </div>
    <div *ngFor="let detail of analogues" class="row">
      <span>{{ detail.article }}</span>
      <span>{{ detail.title }}</span>
      <span>{{ detail.yourPriceUAH.amount }}</span>
    </div>
  </div>
</div>
